.tagItems-box{
    margin:20px 10px 10px 10px;
  }
  .tagItems{
    display: flex;
  }
  .tagItems .tagBorder{
    margin:8px 5px;
  }
  .d-flex{
    display: flex;
  }
  .addItems{
    margin:25px 0;
  }
  .test{
    display:flex;
    flex-wrap:wrap;
    width:800px;
  }
  .aMonthBox{
    display:flex;
    flex-wrap:wrap;
    width:800px;
  }
  .weekBoxBorder{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width:800px;
  }
  .dayBoxBorder{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:800px;
  }
  .itemBorder{
    width:100px;
    height:100px;
    padding:6px 0;
    display:flex;
    flex-direction:column;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa transparent transparent  transparent;
  }
  .itemSpaceBorder{
    width:100px;
    height:100px;
    padding:6px 0;
    display:flex;
    flex-direction:column;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent transparent  transparent;
  }
  .todayColor{
    display:flex;
    flex-direction:column;
    background:#f90;
    padding:6px;
    width:100px;
    height:100px;
    /* border:1px solid #f00; */
  }
  .monthBorder{
    width:800px;
    height:30px;
    /* border:1px solid #f00; */
    background:#aff;
    text-align:center;
    margin-top:20px;
  }
  .weekBorder{
    width:100px;
    height:30px;
    /* border:1px solid #f00; */
    background:#afa;
    padding:7px;
    text-align:center;
  }
  .weekBorderHoliday{
    width:100px;
    height:30px;
    /* border:1px solid #f00; */
    background:#ffa;
    padding:6px;
    text-align:center;
  }
  .tagBorder{
    width:90px;
    height:20px;
    background:#6c9;
    color:#fff;
    margin:2px auto;
    border-radius: 5px;
    padding:2px 4px;
    text-align: center;
    font-size: 16px;
  }
  .holidaytagBorder{
    width:90px;
    height:20px;
    background:#b33;
    color:#fff;
    margin:2px auto;
    border-radius: 5px;
    padding:2px 4px;
    text-align: center;
    font-size: 16px;
  }